<!DOCTYPE html>
<html>

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/myApp.js"></script>
<script src="js/myCtrl.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
{{ Fname + " " + Sname }}
</div>




</body>
</html>
