<html>
<head>
  <script data-require="angular.js@1.3.15" data-semver="1.3.15" src="https://code.angularjs.org/1.3.15/angular.js"></script>
</head>

<body ng-app="demo" ng-controller="demoController">

  <input type="text" ng-disabled="isDisabled" ng-click="disableButton()" placeholder="name">
  <input type="text" ng-disabled="isDisabled1" ng-click="disableButton1()" placeholder="Contact no">

  <script>
    angular.module('demo', [])
      .controller('demoController', function($scope) {

        $scope.disableButton = function() {
          $scope.isDisabled1 = true;

        };

        $scope.disableButton1 = function() {
          $scope.isDisabled = true;
        };

      });
  </script>

</body>
</html>
