<!DOCTYPE html>
<html ng-app="">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"  href="css/style.css">
<body>
<div ng-init="friends=[{name:'John', phone:'555-1276'},
                         {name:'Mary', phone:'800-BIG-MARY'},
                         {name:'Mike', phone:'555-4321'},
                         {name:'Adam', phone:'555-5678'},
                         {name:'Julie', phone:'555-8765'},
                         {name:'Juliette', phone:'555-5678'}]"></div>
  <table>

    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>

    <tr ng-repeat="arr in friends">
      <td>{{arr.name}}</td>
      <td>{{arr.phone}}</td>
    </tr>

  </table>

</body>
</html>
