<!DOCTYPE html>
<html ng-app="productApp">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--bootstrap plug-in--->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!--angular js version--->
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<link rel="stylesheet"  href="css/style.css">
<script src="js/script.js"></script>
</head>
<script>

</script>
<body ng-controller="productCtrl">


<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>price</th>
    <th>available</th>
    <th>count</th>
  </tr>

  <tr ng-repeat="product1 in product">
 <td>{{ product1.id }}</td>
 <td>{{ product1.name }}</td>
 <td>{{ product1.price }}</td>
 <td>{{ product1.available }}</td>
 <td>{{ product1.count }}</td>
  </tr>




</table>
</body>

</html>
