
  .keys {
    margin-bottom: 7px;
  }

  .calculator button {
    width: 70px;
    height: 68px;
    font-size: 30px;
    margin-bottom: 6px;
    border: 1px solid rgba(238, 239, 243, 0);
    background-color: white;
  }

  .calculator {
    border: 1px solid white;
    height: 38em;
    padding: 10px;
    width: 314px;
    display: inline-block;
    /*background-color: rgba(243, 243, 243, 0);*/
    float: left;
  }

  .screen input {
    border: 1px solid rgba(238, 239, 243, 0);
    border-top: 1px solid rgba(192, 192, 192, 0);
    color: #333;
    padding: 22px;
    margin-bottom: 13px;
    outline: none;
    width: 100%;
    height: 2em;
    background-color: white;
  }

  .demo {
    text-align: center;
    margin-top: 50px;
  }
