
<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<body>
    <script>
    var demo = angular.module("demo", []);

    demo.controller("Ctrl",

    function Ctrl($scope) {
        $scope.model = {
            item: [{
                _id: 1,
                from: "Ben",
                to: 28,
                eventName:"hello",
                conferenceRoomNo:1
            }, {
                _id: 2,
                from: "Sally",
                to: 24,
                eventName:"hi",
                conferenceRoomNo:2

            }, {
                _id: 3,
                from: "John",
                to: 32,
                eventName:"i am",
                conferenceRoomNo:3
            }, {
                _id: 4,
                from: "Jane",
                to: 40,
                eventName:"fine",
                conferenceRoomNo:4
            }],
            selected: {}
        };

        // gets the template to ng-include for a table row / item
        $scope.getTemplate = function (contact) {
            if (contact._id === $scope.model.selected._id) return 'edit';
            else return 'display';
        };

        $scope.editContact = function (contact) {
            $scope.model.selected = angular.copy(contact);
        };

        $scope.saveContact = function (idx) {
            console.log("Saving contact");
            $scope.model.item[idx] = angular.copy($scope.model.selected);
            $scope.reset();
        };

        $scope.reset = function () {
            $scope.model.selected = {};
        };
    });

    </script>
<div ng-app="demo" ng-controller="Ctrl">
    <table>
        <thead>
            <th>From</th>
            <th>to</th>
            <th>EventName</th>
                <th>Conference</th>
            </th></th>
        </thead>
        <tbody>
            <tr ng-repeat="contact in model.item" ng-include="getTemplate(contact)">
            </tr>
        </tbody>
    </table>
    <script type="text/ng-template" _id="display">
        <td>{{contact.from}}</td>
        <td>{{contact.to}}</td>
            <td>{{contact.eventName}}</td>
                <td>{{contact.conferenceRoomNo}}</td>
        <td>
            <button ng-click="editContact(contact)">Edit</button>
        </td>
    </script>
    <script type="text/ng-template" id="edit">
        <td><input type="number" ng-model="model.selected.from" /></td>
        <td><input type="number" ng-model="model.selected.to" /></td>
                <td><input type="text" ng-model="model.selected.eventName" /></td>
                        <td><input type="number" ng-model="model.selected.conferenceRoomNo" /></td>
        <td>
            <button ng-click="saveContact($index)">Save</button>
            <button ng-click="reset()">Cancel</button>
        </td>
    </script>
</div>
</body>
</html>
