
<h1>{{paris}}</h1>
<h1> paris </h1>
<p style="width:500;">
  Paris, France's capital, is a major European city and a global center for art,fashion, gastronomy and
  culture. Its picturesque 19th-century cityscape iscrisscrossed by wide boulevards and the River Seine.
  Beyond such landmarks as the Eiffel Towerand the 12th-century, Gothic Notre-Dame cathedral,
  the city is known for its cafe culture, and designer boutiques along theRue du Faubourg Saint-Honoré.
</p>
