<!DOCTYPE html>
<html ng-app="">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<style>
form .btn, form.ng-valid .btn[disabled] {
  display: none;
}
form.ng-invalid .btn[disabled], form.ng-valid .btn {
  display: inline-block;
}
</style>
<body>
  </br>

  <div class="container">
    <div class="thumbnail" style="width:100%;height:auto;background-color:#eee;border:1px solid black;">


      <form class="form-horizontal" name="myForm" role="">

        <div class="form-group">
          <label class="control-label col-sm-2" for="">Name:</label>
          <div class="col-sm-6">
            <input type="text" name="myName" ng-model="names" placeholder="Name" required>
               <span  ng-show="submitted">Required</span>
            <span ng-show="myForm.myName.$touched && myForm.myName.$invalid"><i style="color:red;">* Username is required.</i></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="">Contact No:</label>
          <div class="col-sm-6">
            <input type="text" name="myAge" ng-model="age" required placeholder="Contact No">
            <span ng-show="myForm.myAge.$touched && myForm.myAge.$invalid"><i style="color:red;">*Phone No is required.</i></span>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="">Email Id:</label>
          <div class="col-sm-6">
            <input type="email" name="myEmail" ng-model="Email" required placeholder=" Email Id">
            <span ng-show="myForm.myEmail.$touched && myForm.myEmail.$invalid"><i style="color:red;">*Email Id is required.</i></span>


          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="">Message:</label>
          <div class="col-sm-6">
            <textarea class="form-control custom-control" rows="3" style="resize:none" name="myTarea" ng-model="Area" required placeholder="Message "></textarea>
            <span ng-show="myForm.myTarea.$touched && myForm.myTarea.$invalid"><i style="color:red;">*Enter Description</i></span>
          </div>
        </div>

        <!-- <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" id="" ng-disabled="!names;!age;!Email;!Area "> SEND </button>
          </div>
        </div> -->

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn">Submit</button>
            <button class="btn" disabled>Submit</button>
          </div>
         </div>

      </form>
    </div>
  </div>
</body>

  </html>
