<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body ng-app="">

<form name="form" ng-app>

Name: <input type="text" name="text1" ng-model="ase" required / >
</br>
Your email address
            <input type="email" name="email" ng-model="abcv" required />

            <span class="help-inline" ng-show="submitted && form.email.$error.email">Invalid email</span>
</br>

    <button type="submit" class="" ng-click="submitted=true">Submit</button>
</form>
</body>
</html>
