<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <script src="js/script1.js"></script>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <div ng-app="myApp" ng-controller="customersCtrl">


Search :<input type="text" placeholder="Search Name and City" ng-model="nameSearch" />


</br>
</br>
    <table>

      <tr>
        <th> No </th>
        <th>name</th>
        <th>Salary</th>
                <th>Gender</th>
                        <th>City</th>
      </tr>

      <tr ng-repeat="x in names | orderBy:'Name' | filter:search">
        <td>{{$index+1}}</td>
        <td>{{ x.Name }}</td>
        <td>{{ x.salary | currency:"$":2 }}</td>
            <td>{{ x.Gender}}</td>
            <td>{{ x.City}}</td>
      </tr>
    </table>

  </div>



</body>

</html>
