<p  style=" text-align: justify;
    text-justify: inter-word;">
    <span  id="textanimation" class="glyphicon glyphicon-hand-right">  One of the most important concepts in web development is writing clean, modular code. This is especially relevant when working as part of a team on highly complex applications. The Angular framework was built to create high-level applications, which can
  become very complex very fast, which in turn makes writing modular code all the more vital. One of the tools that can aid you greatly in this quest is the Angular UI Router, which was built to help manage different states of your web app. In contrast
  to the native AngularJS routing implementation, it gives you complete control over each of its views.</span>
</p>

<p class="" style=" text-align: justify;
    text-justify: inter-word;">
  <span id="text1animation" class="glyphicon glyphicon-hand-right">  If you have used ui-router before, you may be aware of how the dot-notation is used to define child states inside of a parent state. You may not, however, be aware of how the ui-router library deals with named views nested inside of a parent state.
</span>
</p>

<div ui-view></div>
