<table border="1">

  <tr>
    <th>Names</th>
    <th>Salary</th>
    <th>Age</th>
  </tr>

  <tr ng-repeat="x in employee">
    <td>{{x.name | uppercase }}</td>
    <td>{{x.Salary}}</td>
    <td>{{x.age}}</td>
  </tr>

</table>
