<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/scriptjs.js"></script>
<link rel="stylesheet" href="css/stylecss.css">

<body ng-controller="myCtrl">

Select View:
<select ng-model="employeeView">
<option value="employeeTable.html">Table</option>
  <option value="employeelist.html">list</option>

</select>
</br>
</br>
  <div ng-include="employeeView">
  </div>
  <!--<div ng-include="'employeeTable.html'">
  </div>-->

</body>

</html>
