<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>
    .modal-body {
      position: relative;
      padding: 15px;
      height: 20em;
    }
  </style>
</head>

<body>

  <div ng-controller="MainCtrl" class="container">

    <h1>Modal example</h1>
    <button ng-click="toggleModal()" class="btn btn-default">Open modal</button>

    <modal title="Login form" visible="showModal">

      <form>

        <div class="form-group">
          <label>Enter Name</label>
          <input type="text" class="form-control" id="" placeholder="Enter Name" />
        </div>

        <div class="form-group">
          <label>Contact No</label>
          <input type="text" class="form-control" id="" placeholder="Contact No" />
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        </br></br>
        <button type="button" style="float:right;" class="btn btn-default" data-dismiss="modal">Close</button>

      </form>
    </modal>
  </div>

  <script>
    var mymodal = angular.module('myApp', []);

    mymodal.controller('MainCtrl', function($scope) {
      $scope.showModal = false;
      $scope.toggleModal = function() {
        $scope.showModal = !$scope.showModal;
      };
    });

    mymodal.directive('modal', function() {
      return {
        template: '<div class="modal fade">' +
          '<div class="modal-dialog">' +
          '<div class="modal-content">' +
          '<div class="modal-header">' +
          '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>' +
          '<h4 class="modal-title">{{ title }}</h4>' +
          '</div>' +
          '<div class="modal-body" ng-transclude></div>' + //stuf inside the custom directive

          '</div>' +
          '</div>' +
          '</div>',
        //restrict: 'E',
        transclude: true,
        replace: true,
        scope: true,
        link: function(scope, element, attrs) {
          scope.title = attrs.title; //display  model title value

          scope.$watch(attrs.visible, function(value) {
            if (value == true)
              $(element).modal('show');
            else
              $(element).modal('hide');
          });

          //   //$(element).on('shown.bs.modal', function(){
          //     scope.$apply(function(){
          //       scope.$parent[attrs.visible] = true;
          //     });
          // //  });
          //
          //   $(element).on('hidden.bs.modal', function(){
          //     scope.$apply(function(){
          //       scope.$parent[attrs.visible] = false;
          //     });
          //   });
        }
      };
    });
  </script>

</body>

</html>

<!-- 1: defination of ng-transclude ?
Ans: Directive that marks the insertion point for the transcluded DOM of the nearest parent directive that uses transclusion.

2: $watch() ?
Ans: When you create a data binding from somewhere in your view to a variable on the $scope object,
AngularJS creates a "watch" internally.
A watch means that AngularJS watches changes in the variable on the $scope object.
The framework is "watching" the variable. Watches are created using the $scope.$watch() function.-->
