<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/script.js"></script>


<body ng-controller="myCtrl">
  <ul>
    <li ng-repeat="country in countries">
      {{country.name}} - index ={{$index}}


      <ul>
        <li ng-repeat="city in country.cities">
          {{city.name}} - index ={{$index}}
        </li>
      </ul>

    </li>
  </ul>
</body>

</html>
