<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<body ng-controller="myCtrl">

  <script>
    var app = angular.module("myApp", []);
    app.controller('myCtrl', function($scope) {
      $scope.items = ['settings', 'home', 'other'];
      $scope.selection = $scope.items[0];
    });
  </script>

  <select ng-model="selection" ng-options="item for item in items">
  </select>
  <h1>selection={{selection}}</h1>

  <hr/>

  <div ng-switch on="selection">
    <div ng-switch-when="settings">Settings Div</div>
    <div ng-switch-when="home"> <a href="http://www.w3schools.com/angular/angular_select.asp"> home </a> </div>
    <div ng-switch-default>default</div>
  </div>

</body>
</html>
