<!doctype html>


<html ng-app="calculatorApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>

    <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
    <meta name="author" content="Bartek Szopka" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />


    <link href="css/impress-demo.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />

    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>


<body class="impress-not-supported">


<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>


<div id="impress">

    <div id="bored" class="step slide" data-x="-1000" data-y="-1500">

        <div class="container demo" ng-controller="calculatorController" style="width:100%;">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="calculator">
                <div class="screen">
                  <span style="">{{equationSubmitted}}</span>
                  <input type="text" class="" name="" placeholder="0" ng-disabled="true" ng-model="equation" style="text-align:right;font-size: 42px;" />
                </div>
                <div class="keypad">
                  <div class="keys">
                    <button type="button" class="" ng-click="resetClicked()" style="color:#adad85;">C</button>
                    <button type="button" ng-click="updateOutput('(')" style="color:#adad85;">&#40;</button>
                    <!--(-->
                    <button type="button" ng-click="updateOutput(')')" style="color:#adad85;">&#41;</button>
                    <!--)-->
                    <button type="button" ng-click="clearLast()" style="color:#adad85;">&#60;</button>
                    <!-- <- -->
                  </div>
                  <div class="keys">
                    <button type="button" ng-click="updateOutput(7)" class="">7</button>
                    <button type="button" ng-click="updateOutput(8)" class="">8</button>
                    <button type="button" ng-click="updateOutput(9)" class="">9</button>
                    <button type="button" ng-click="updateOutput('/')" style="color:#aa80ff;">&#247;</button>
                    <!--divide-->
                  </div>
                  <div class="keys">
                    <button type="button" ng-click="updateOutput(4)" class="">4</button>
                    <button type="button" ng-click="updateOutput(5)" class="">5</button>
                    <button type="button" ng-click="updateOutput(6)" class="">6</button>
                    <button type="button" class="" ng-click="updateOutput('*')" style="color:#ffaa00;">&#42;</button>
                    <!--Multiply-->
                  </div>
                  <div class="keys">
                    <button type="button" class="" ng-click="updateOutput(1)">1</button>
                    <button type="button" class="" ng-click="updateOutput(2)">2</button>
                    <button type="button" class="" ng-click="updateOutput(3)">3</button>
                    <button type="button" class="" ng-click="updateOutput('-')" style="color:#ff9f80;">&#45;</button>
                  </div>
                  <div class="keys">
                    <button type="button" ng-click="updateOutput('.')" class="">.</button>
                    <button type="button" ng-click="updateOutput(0)" class="">0</button>
                    <button type="button" ng-click="totalcalculate()" class="">=</button>
                    <button type="button" ng-click="updateOutput('+')" ng-model="add" class="" style="color:#1affc6;">&#43;</button>
                  </div>
                </div>
              </div>
            </div>




</div>
</div>

    </div>










</div>


<script>
if ("ontouchstart" in document.documentElement) {
    document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
}
</script>


<script src="js/impress.js"></script>
<script>impress().init();</script>

<script src="js/calc1.js"></script>


</body>
</html>
