
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  cursor: pointer;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
/*.arrow-up {
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:10px solid black;
  display:inline-block;
}

.arrow-down {
  width:0;
  height:0;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  border-bottom:10px solid black;
    display:inline-block;
}*/
