<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="app">
  <div >
    <div ng-controller="MainCtrl">
      <input type="radio" ng-model="checked" value="500" ng-click="uncheck($event)" />
      <input type="radio" ng-model="checked" value="1000" ng-click="uncheck($event)" />
      <input type="radio" ng-model="checked" value="1500" ng-click="uncheck($event)" />
    </div>
  </div>

<script>
var app = angular.module('app', []);

app.controller('MainCtrl',  function($scope) {
  $scope.uncheck = function(event) {
    console.log(event);
    console.log($scope.checked);
    console.log(event.target.value);
    if ($scope.checked != event.target.value) $scope.checked = false
  }
});

</script>
</body>

</html>
