<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-controller="myCtrl">
<script>
 var app=angular.module("myApp",[]);
app.controller("myCtrl", function($scope) {
$scope.Username='';
$scope.master= {};


$scope.Reset = function () {
$scope.Username='';
};

//$scope.Save = function () {
//$scope.Username2 = $scope.Username;
//};

$scope.Save = function (user) {
$scope.master = angular.copy(user);
};




$scope.male= function () {
$scope.showMe = !$scope.showMe;
$scope.showMe1 = false;

};



$scope.female= function () {
$scope.showMe1 = !$scope.showMe1;
$scope.showMe = false;

};



});
</script>


<div>

Name:<input type="text" ng-model="Username" ></br>
Email:<input type="text" ng-model="Useremail"></br>

  Gender <input type="radio" name="gender" ng-model="user.name" value="male" ng-click="male()" id="males" > Male
  <input type="radio" name="gender" ng-model="user.name"  value="female" ng-click="female()" id="female"> Female<br>

<button type="button" ng-model="" ng-click="Reset()">Reset </button>

<button type="button" ng-model="" ng-click="Save(user)">Save </button>
</br>
</br>

Master: {{master}}
Name:{{Username}}</br></br>
 <!--<input type="text" style="border:1px solid white;" ng-model="Username2" ></br>-->
Gender:
<div ng-show="showMe">
<p>Male</p>
</div>

<div ng-show="showMe1">
<p>FeMale</p>
</div>
</div>
</body>
</html>
