<!DOCTYPE html>
<html ng-app="myApp" >
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
</head>

<body>
<div ng-controller="myCtrl">



Enter name:<input type="text" ng-model="names"> <hr/>
<span ng-bind="names"> </span> </br>
<span ng:bind="names"> </span> </br>
<span ng_bind="names"> </span> </br>

</div>



</body>

<script>
var arr=angular.module("myApp",[]);
arr.controller("myCtrl", function ($scope) {
$scope.names=" john ";

});
</script>
</body>
</html>
