<!doctype html>
<html ng-app="myApp" ng-controller="myCtrl">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example12-production</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>

<body>

<hello-world></hello-world>


<script>

var app=angular.module("myApp",[]);
app.controller("myCtrl", function ($scope) {

 $scope.cars ={ model:"BMW",weight:"140",color:"red" };
 $scope.buz ={ model:"vlovo",weight:"340",color:"red" };



});

app.directive("helloWorld", function() {
    return {
          restrict:'E',
        template : "{{cars.model}} {{cars.weight}} {{cars.color}} </br> {{buz.model}} {{buz.weight}} {{buz.model}} "
    };
});
</script>
</body>
</html>
