<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-controller="myCtrl">

  <script>
  // var app = angular.module("myApp", []);
  // app.controller("myCtrl", function($scope) {
  //
  //   $scope.notifyMe = function () {
  //     if (!("Notification" in window)) {
  //         alert("This browser does not support desktop notification");
  //     }
  //
  //     // Let's check if the user is okay to get some notification
  //     else if (Notification.permission === "granted") {
  //         // If it's okay let's create a notification
  //         var notification = new Notification("Email"+"\n"+"Message Sent");
  //
  //     }
  //   }
  // });
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope,title,desc,url) {
   $scope.notifyMe= function()
  {

  if (Notification.permission !== "granted")
  {
  Notification.requestPermission();
  }
  else
  {
  var notification = new Notification(title, {
  icon:'icon/1.png',
  body: desc,
  });





  }
}
});

</script>
<button ng-click="notifyMe('title','desc','url')">Notify me!</button>
</body>
</html>
