<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>
  <div ng-app="myApp" ng-controller="myCtrl">

    <button ng-click="search(); match()">Click Me!</button>

    <div ng-show="showMe">
      <h1>Menu:</h1>
      <div>Pizza</div>
      <div>Pasta</div>
      <div>Pesce</div>
    </div>

    <div ng-show="showMe1">
      <h1>Names</h1>
      <div>Raki</div>
      <div>Guru</div>
      <div>Ranga</div>
    </div>

  </div>
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.showMe = false;
      $scope.showMe1 = false;

      $scope.search = function() {
        $scope.showMe = !$scope.showMe;
      };

      $scope.match = function() {
        $scope.showMe1 = !$scope.showMe1;
      };



    });
  </script>

  <p>Click the button to show/hide the menu.</p>

</body>

</html>
