<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>
<div ng-app="" >

    <input type="checkbox" ng-model="myVar">

<div ng-show="myVar">
    <h1>M http://www.sitepoint.com/10-essential-atom-add-ons/enu:</h1>
    <div>Pizza</div>
    <div>Pasta</div>
    <div>Pesce</div>
</div>

<div ng-show="myVar">
    <h1>Names</h1>
    <div>Raki</div>
    <div>Guru</div>
    <div>Ranga</div>
</div>

</div>


<p>Click the button to show/hide the menu.</p>

</body>
</html>
