<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<style>
table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>

<body ng-controller="myCtrl">
  <button type="button" ng-click="show()">SHOW</button>
  <button type="button" ng-click="hide()">HIDE</button>
</br></br>

  <table border="1" ng-show="showMe">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Points</th>
    </tr>
    <tr ng-repeat="arr in arraylist">
      <td> {{arr.Fname}}   </td>
          <td> {{arr.Lname}}   </td>
            <td> {{arr.points}}   </td>
    </tr>
  </table>
  <script>

    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {

  $scope.showMe = true;

$scope.arraylist = [
  {Fname:'Jill',Lname:'Smith',points:50},
    {Fname:'Eve',Lname:'Jackson',points:50},
    {Fname:'John',Lname:'Doe',points:50}
];

      $scope.show = function() {
        $scope.showMe = true;
      }

      $scope.hide = function() {
        $scope.showMe = false;
      }

    });
  </script>

</body>
</html>
