<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">


 <input ng-model="deadline" placeholder="Add more than 3 chars" ng-keypress="doCheck()"/>

<select ng-show="showMe" ng-model="selecttext" ng-click="doCheck1()">
<option>asd</option>
<option>yasd</option>
<option>rtrasd</option>
</select>

<input type="text" ng-show="showMe1" ng-model="nexttext" >

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {

   $scope.doCheck = function () {
        if ($scope.deadline.length > 3) {
            $scope.showMe = true;
        }
else {
$scope.showMe = false;
}
     };

$scope.doCheck1 = function () {
        if ($scope.selecttext) {
            $scope.showMe1 = true;
        }
else {
$scope.showMe1 = false;
}


}


});
</script>

</body>
</html>
