<!doctype html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
  <div ng-app="app" ng-controller="HttpGetController">
    <p>First Name:
      <input type="text" name="firstName" ng-model="firstName" required />
    </p>
    <p>First Name:
      <input type="text" name="lastName" ng-model="lastName" required />
    </p>
    <button ng-click="SendData()">Submit</button>
    <hr /> {{ PostDataResponse }}
  </div>

  <script>
    var app = angular.module("app", []);
    app.controller("HttpGetController", function($scope, $http) {

      $scope.SendData = function() {
        // use $.param jQuery function to serialize data from JSON
        var data = $.param({
          fName: $scope.firstName,
          lName: $scope.lastName
        });

        var config = {
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
          }
        }

        $http.post('PostDataResponse.htm', data, config)
          .success(function(data, status, headers, config) {
            $scope.PostDataResponse = data;
          })
          .error(function(data, status, header, config) {
            $scope.ResponseDetails = "Data: " + data +
              "<hr />status: " + status +
              "<hr />headers: " + header +
              "<hr />config: " + config;
          });
      };

    });
  </script>
</body>

</html>
