<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }

  table tr:nth-child(even) {
    background-color: #ffffff;
  }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>

  <div ng-app="myApp" ng-controller="customersCtrl">

    <table>

      <tr>
        <th> No </th>
        <th ng-model="Name">name</th>
        <th ng-model="Country">Country</th>
      </tr>
      <tr ng-repeat="x in names | orderBy:'Name' | orderBy:'Country' ">
        <td>{{$index+1}}</td>
        <td>{{ x.Name }}</td>
        <td>{{ x.Country | uppercase}}</td>
      </tr>
    </table>

  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope) {
      $scope.names = [{
        Name: 'shashi',
        Country: 'india'
      }, {
        Name: 'lokesh',
        Country: 'india'
      }];

    });
  </script>

</body>

</html>
