<!DOCTYPE html>
<html ng-app="myApp">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
<script src="js/script.js"></script>
<link rel="stylesheet"  href="css/style.css">
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body>

  <div ng-controller="MyCtrl">
    <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Age</th>
      </tr>

      <tr ng-repeat="person in people" my-element="person">

      </tr>
    </table>
  </div>

</body>
</html>
