
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 60%;
margin-right:20%;
margin-left:20%;
    margin: auto;
  height:20em;

  margin-top:0em;
}

.carousel-inner {
position: relative;
width: 100%;
overflow: hidden;
margin-top: -40px;
}

#textanimation,#textAboutanimation {
    width:;
    height: ;
    background: ;
    position: relative;
    -webkit-animation: move1 2s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: move1 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes move1 {
    from {left: -100px;}
    to {left: 0px;}
}

@keyframes move1 {
    from {left: -100px;}
    to {left: 0px;}
}



#text1animation,#text1Aboutanimation {
    width: ;
    height: ;
    background: ;
    position: relative;
    -webkit-animation: mymove1 2s;  /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: 1;  /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;  /* Chrome, Safari, Opera */
    animation: mymove1 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove1 {
    from {right: -100px;}
    to {right: 0px;}
}

@keyframes mymove1 {
    from {right: -100px;}
    to {right: 0px;}
}
