<html ng-app="myapp" ng-controller="myctrl">
<title></title>
<head>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script>
var app=angular.module("myapp",[]);
app.controller("myctrl", function ($scope,$http) {
$http.get('abc.json').then(function(response) {

    $scope.myData = response.data;

});

});
</script>
</head>
<body >
    <table border="1">
        <tr>
            <th>
    no
            </th>
<th>name</th>
<th>Country</th>
    </tr>

        <tr ng-repeat="abc in myData ">
                    <td>{{$index+1}}</td>
            <td>{{abc.name}}</td>
            <td>{{abc.country}}</td>



        </tr>
    </table>

</body>
</html>
