<!doctype html>
<html ng-app="myApp">

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>

  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">


  <script>
    angular.module('myApp', ['ui.bootstrap']);

    function myCtrl($scope) {

      $scope.selected = undefined;
      $scope.names = ['arun', 'raju', 'shashi', 'naveen', 'mahesh', 'ranga'];
    }
  </script>

</head>

<body>

  <div class='container-fluid' ng-controller="myCtrl">

    <pre>Model: {{selected| json}}</pre>
    <input type="text" ng-model="selected" typeahead="name for name in names">

  </div>

</body>

</html>
<!--Firstly, the "typeahead directive" uses syntax very similar to the AngularJS "select directive".
This gives you full control over a displayed label and the data bound as model value.-->
