<div class="container">
 <form name="frm1" id="frm1">
  <input  #box (keyup.enter) = "addrow(box.value)"  (blur)="addrow(box.value); box.value='' " >

  <button (click) = "addrow(box.value)">Add</button> <br/>

  <ol>
  <li *ngFor="let array of languages ">
  {{array}}
  </li>
  </ol>
</form>

</div>
