
<!-- <a href="#/route1/list">Show List</a> -->
<!-- <a ui-sref=".list">Show List</a> -->

<h3 style="text-align:center;color:#ff8000;">UI.ROUTER</h3>

<p style=" text-align: justify;
    text-justify: inter-word;">
  <span class="glyphicon glyphicon-hand-right">&nbsp There are several sub-modules included with the ui.router module,
  however only this module is needed as a dependency within your angular app. The other &nbsp&nbsp modules are for organization purposes.</span>
</p>

<h4>
<span id="textAboutanimation" class="glyphicon glyphicon-hand-right">&nbsp Why You Should Use UI-Router </span>
</h4>
<h5 id="text1Aboutanimation">Multiple Views</h5>
<p  style=" text-align: justify;
    text-justify: inter-word;">
 <span id="text1Aboutanimation" class="glyphicon glyphicon-play">
Most applications can be broken up into regions. At a minimum, applications usually have a header, a main content area, and a footer.
 </span>
  <span  id="text1Aboutanimation" class="glyphicon glyphicon-play">
    In most use cases, all of these regions (views) are  at the same time. With the built-in AngularJS router, ngRoute, only one view (ng-view) is allowed per page. This limitation causes people to use includes (ng-include) or other workarounds to create a layout or master page for their application.
    UI-Router supports multiple views and each can have it’s own corresponding Controller so that each of these regions can be encapsulated and reused throughout the application if needed.
  </span>
</p>
<div ui-view></div>
<!--  -->
