<!DOCTYPE html>
<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <script>
    var app = angular.module('app', []);
    app.controller('mainCtrl', ['$scope', function(scope) {
      scope.items = [{
        name: 'shashi',
        available: false
      }, {
        name: 'shashi',
        available: true
      }, {
        name: 'shashi',
        available: true
      }, {
        name: 'shashi',
        available: false
      }, {
        name: 'shashi',
        available: false
      }, {
        name: 'shashi',
        available: false
      }]
    }]);
    app.filter('YesNo', function() {
      return function(text) {
        return text ? "Yes" : "No";
      }
    })
  </script>
</head>

<body ng-app='app'>
  <h1>Yes No Filter + Conditional (ternary) Operator!</h1>
  <div ng-controller='mainCtrl'>

    <table>
      <tr ng-repeat='item in items'>
        <td>{{item.name }}</td>
        <td>{{item.available | YesNo}}</td>
      </tr>

    </table>
  </div>

</body>

</html>
