<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>



<head>
  <link rel="stylesheet" href="css/abc.css">
  <script src="scripts/scripts.js"></script>
  <style>

  </style>
</head>

<body ng-controller="myctrl">

  <!--
Rows to display :<input type="number" step="1"  min="0"  max="5" ng-model="rowlimit" />
Order By: <select ng-model="sortCol">
<option value="name">Name ASC</option>
<option value="DOB">DOB ASC</option>
<option value="gender">gender ASC</option>
<option value="-salary">salary ASC</option>
</select>-->

  <table border="1">
    <tr>
        <th ng-click="sortData('id')"> Id
                 <span class="sortorder" ng-show="sortCOL === 'id'" ng-class="{reverse:reverse}"></span>
               </th>
      <th ng-click="sortData('name')"> Names
        <!-- <div ng-class="getSortClass('name')"></div> -->
         <span class="sortorder" ng-show="sortCOL === 'name'" ng-class="{reverse:reverse}"></span>
      </th>
      <th ng-click="sortData('DOB')"> DOB
        <!-- <div ng-class="getSortClass('DOB')"></div> -->
         <span class="sortorder" ng-show="sortCOL === 'DOB'" ng-class="{reverse:reverse}"></span>
      </th>
      <th ng-click="sortData('gender')"> GENDER
        <!-- <div ng-class="getSortClass('gender')"></div> -->
         <span class="sortorder" ng-show="sortCOL === 'gender'" ng-class="{reverse:reverse}"></span>
      </th>
      <th ng-click="sortData('salary')"> SALARY (number)
        <!-- <div ng-class="getSortClass('salary')"></div> -->
         <span class="sortorder" ng-show="sortCOL === 'salary'" ng-class="{reverse:reverse}"></span>
      </th>
      <th ng-click="sortData('salary')"> SALARY (currency)
        <!-- <div ng-class="getSortClass('salary')"></div> -->
         <span class="sortorder" ng-show="sortCOL === 'salary'" ng-class="{reverse:reverse}"></span>
      </th>
    </tr>

    <tr ng-repeat="row in emptable | orderBy:sortCOL:reverse">
      <td>{{row.id}}</td>
      <td>{{row.name | uppercase}}</td>
      <td>{{row.DOB | date:"dd/mm/yyyy" }}</td>
      <td>{{row.gender | lowercase}}</td>
      <td>{{row.salary | number:2}}</td>
      <td>{{row.salary | currency:"$":1}}</td>


    </tr>
  </table>
</body>

</html>
