<!doctype html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
  <div ng-app="" ng-init="arr=['john','doe','magan','chris']">
    <input type="text" placeholder="Eneter name to fiter the array" ng-model="name">
    <ul>
      <li ng-repeat=" names in arr | orderBy | filter : name "> {{ names  }}
      </li>
    </ul>
  </div>
</body>
</html>
