#aa
{
	
	 border: 0px solid white;
	color:blue;
}

#popup
{
border: 0px solid white;
color:blue;
}

#popups
{
border: 0px solid white;
color:blue;
}

#ba
{
margin-top:-1.1em;
}
<!--upload image style--->
article, aside, figure, footer, header, hgroup, 
  menu, nav, section { display: block; }
  
#employeeid
 {
  border: 0px solid white;
 }	
 
 
 #dojemp
 {
  border: 0px solid white;
 }	
 
#dob
 {
  border: 0px solid white;
 }	
#email 
 { border: 0px solid white;
 }	
 
#dateresign
 {
  border: 0px solid white;
 }	
 
#datecommence 
 {
  border: 0px solid white;
 }	
#bb
{
	width:13em;
	 border: 0px solid white;
}	
