<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <link rel="stylesheet" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
    <script src="script.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>

  <body ng-controller="MainCtrl">


      <progress max="100" percent="progress" class='progress-striped active' ng-class='{"active": active}'></progress>


       <div class="container_progress">
                 <div class="progress progress-striped active"   ng-class='{"active": active, "":!active}'>
                   <div  class="bar" ng-style="bar_upload_style" >{{bar_upload_text}}</div>
                     </div>
                  </div>
      <script>
        var app = angular.module('plunker', ['ui.bootstrap']);

app.controller('MainCtrl', ['$scope', '$timeout', function($scope, $timeout) {

  $scope.active = true;
  $scope.progress = {value:10, type:"success"};
  $timeout(function(){$scope.progress.value=20;}, 3000);


   updateProgressBar(20);

   $timeout(function()
   {
     updateProgressBar(10);
     }, 4000);


  function updateProgressBar(value){
    $scope.bar_upload_style = {  "width": value+'%'  };
    $scope.bar_upload_text = value + "%";

    if(value ==100) $scope.active = false;
  }


}]);

      </script>
  </body>

</html>
