<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <script src="js/script.js"></script>
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-controller="myCtrl">

  <table border="1">
<tr>
  <th>Name</th>
 <th>Likes</th>
 <th>DisLikes</th>

 <th>Likes/DisLikes</th>

</tr>

<tr ng-repeat="technology in technologies">
<td>{{technology.name}}</td>
<td>{{technology.likes}}</td>

<td>{{technology.dislikes}}</td>

<td>

<input type="button" value="Click" ng-click="incrementLikes(technology)">

<input type="button" value="DisLike" ng-click="decrementLikes(technology)">

</td>

</tr>

  </table>



</body>
</html>
