<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/scriptjs.js"></script>



<body ng-controller="myCtrl">
  <div>
    Name:{{country.name}}
    <!---Binding Expression-->
  </div>
  <div>
    Capital:{{country.capital}}
    <!---Binding Expression-->
  </div>

  <!---<div>
    <img src="{{country.Flag}}" style="width:10em;height:5em;" />
1:As soon as the DOM is parsed an attempt is made is to fetch the image form the server..
2: At this point, Angular Js "binding Expression" that is specified with the "src" attribute is not evaluated.
Hence 404 (not found) ERROR....
  </div>-->
  <div>
    <img ng-src="{{country.Flag}}" style="width:10em;height:5em;" />
  </div>
</body>

</html>
