<!DOCTYPE html>
<html lang="en">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">

Name: <input type="text" ng-model="Fuser" /><br />
<button ng-click="update()">SAVE</button>
<button ng-click="reset()">RESET</button>

<pre>master = {{master}}</pre>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {

$scope.update = function() {
$scope.master = angular.copy($scope.Fuser);
};

$scope.reset = function() {
$scope.Fuser = '';
};

});
</script>
</div>
</body>
</html>
