<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<head>
  <title>Datapicker</title>
  <style type="text/css">
    body {
      font-family: Arial;
      font-size: 10pt;
    }
  </style>
</head>

<body>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>

  <script type="text/javascript">
    var app = angular.module('MyApp', [])
    app.controller('MyController', function($scope, $filter) {
      var date = new Date();
      $scope.ddMMyyyy = $filter('date')(new Date(), 'dd/MM/yyyy');
      $scope.ddMMMMyyyy = $filter('date')(new Date(), 'dd, MMMM yyyy');
      $scope.HHmmss = $filter('date')(new Date(), 'HH:mm:ss');
      $scope.hhmmsstt = $filter('date')(new Date(), 'hh:mm:ss a');
    });
  </script>

  <div ng-app="MyApp" ng-controller="MyController">
    <u>dd/MM/yyyy format</u>
    <br />
    <input type="text" ng-model="ddMMyyyy">

    <br />
    <br />

    <u>dd, MMMM yyyy format</u>
    <br />
    <input type="text" ng-model="ddMMMMyyyy" />

    <br />
    <br />
    <u>24 Hour time</u>
    <br />
    <input type="text" ng-model="HHmmss" />
    <br />
    <br />

    <u>12 Hour time</u>
    <br />
    <input type="text" ng-model="hhmmsstt" />
  </div>
</body>

</html>
