<!DOCTYPE html>
<html>
<head>
<style>
#grad1 {
    height: auto;
   /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FDFDFE,#FAFAFC,#F0F3F7,#F4F6F8,#EEF1F5,#EAEDF2); /* For Safari 5.1 to 6.0 */
    background: -moz-linear-gradient(#FDFDFE,#FAFAFC,F0F3F7,#F4F6F8,#EEF1F5,#EAEDF2); /* For Firefox 3.6 to 15 */
}
</style>
</head>
<body>
   <div id="grad1">
   <div class="container">


   <header class="container">
      <div class="col-md-12">
        <img src="assets/img/1.png" />
      </div>
   </header>

   <div class="container" id="searchStyle">
      <div class="row">
        <div class="col-md-6 col-xs-12 " >
              <input class="form-control glyphicon" type="search" placeholder="&#57347; I'm looking for a" id="stStyle" />
        </div>

        <div class="col-md-6 col-xs-12">
          <select class="btn btn-default" id="dropdownStyle" >
      <option class="btn btn-default" ng-repeat="x in names">{{x}}</option>
      </select>
   </div>

        </div>
      </div>


   <div id="content">
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLOKITTY</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p></div>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLODOLLY</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLO</p>
      <p>HELLOWEEN</p>
   </div>


   <footer class="container">
      <div class="row">
        <div class=col-md-12>
          <h4>Beta Version 2.01.0001 &copy; 2016 Web Team </h4>
        </div>

      </div>
   </footer>

   </div>

</div>
</body>
</html>
