<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<head>
  <title>Angular JS Includes</title>

  <style>
    table,
    th,
    td {
      border: 1px solid grey;
      border-collapse: collapse;
      padding: 5px;
    }

    table tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    table tr:nth-child(even) {
      background-color: #ffffff;
    }
  </style>

</head>

<body>
  <h2>AngularJS Sample Application</h2>
  <div ng-controller="studentController">

    <table>
      <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Percentage</th>
      </tr>

      <tr ng-repeat="student in students">
        <td>{{ student.Name }}</td>
        <td>{{ student.RollNo }}</td>
        <td>{{ student.Percentage }}</td>
      </tr>
    </table>
  </div>

  <!-- <script>
    function studentController($scope, $http) {
      var url = "data.txt";

      $http.get(url).success(function(response) {
        $scope.students = response;

      });
    }
  </script> -->

<script>
  var app = angular.module("myApp", []);
app.controller("studentController", function ($scope,$http) {
$scope.students=[];
  $http({
    method: 'GET',
    url: 'dta.txt'
  }).then(function successCallback(response) {
    //console.log(response);
   $scope.students = response.data;
      // this callback will be called asynchronously
      // when the response is available
    }, function errorCallback(response) {
      console.log(error);
      //$scope.error = reason.data;
    // called asynchronously if an error occurs
    // or server returns response with an error status.
  });

});

</script>

</body>

</html>
