<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body ng-controller="myCtrl">

  <div>
    <p>This header will change after two seconds:</p>
    <h1>{{myHeader}}</h1>
  </div>

  <p>The $timeout service runs a function after a sepecified number of milliseconds.</p>
  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope, $timeout) {
      $scope.myHeader = "Hello Rakesh ";
      $timeout(function() {
        $scope.myHeader = "Hi Shashi";
      }, 1000);
    });
  </script>

</body>
</html>
