<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Example - example-example47-production</title>


  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>



</head>

<body ng-app="copyExample">
  <div ng-controller="ExampleController">


    Name:
    <input type="text" ng-model="user" />
    <br />


    <button ng-click="reset()">RESET</button>
    <button ng-click="update(user)">SAVE</button>
    {{user}} {{master}}
  </div>

  <script>
    angular.module('copyExample', [])
      .controller('ExampleController', function($scope) {



        $scope.update = function(user) {
          // Example with 1 argument
          $scope.master = angular.copy(user);
        };

        $scope.reset = function() {
          // Example with 2 arguments
          angular.copy($scope.master, $scope.user);
        };

        $scope.reset();
      });
  </script>
</body>

</html>
