<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=1024" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>impress.js | presentation tool based on the power of CSS3 transforms and transitions in modern browsers | by Bartek Szopka @bartaz</title>

  <meta name="description" content="impress.js is a presentation tool based on the power of CSS3 transforms and transitions in modern browsers and inspired by the idea behind prezi.com." />
  <meta name="author" content="Bartek Szopka" />

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link href="css/impress-demo.css" rel="stylesheet" />

  <link rel="shortcut icon" href="favicon.png" />
  <link rel="apple-touch-icon" href="apple-touch-icon.png" />
</head>

<body class="impress-not-supported">
  <div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
  </div>

  <div id="impress">

    <div id="bored" class="step slide" data-x="-1000" data-y="-1500">

      <div class="container" style="width:100%;">

        <div class="jumbotron">
          <h1 style="text-align:center;color:#bf8040">INTRODUCTION</h1>
        </div>
        </br>
        <span class="glyphicon glyphicon-hand-right">&nbspSimple "CalculatorApp"</span>
        </br>
        </br>
        <p>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp These application purely built on "Angular JS"....
        </p>

        <b style="float:right;margin-top:233px;">BY : Shashidhar KV </b>
      </div>
    </div>

    <div id="title" class="step" data-x="-3000" data-y="0" data-scale="4">
      <h1 style="text-align:center;color:#bf8040;font-size:85px;">ANGULAR JS<sup>*</sup></h1>
      <span class="glyphicon glyphicon-asterisk footnote" style="width:100%;font-size:25px;"> &nbspAngularJS (commonly referred to as "Angular" or "Angular.js") is an open-source web application framework mainly maintained by <span style="color:#ff5c33;">"Google"..</span></span>
    </div>
    </br>
    <div id="its" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="5">
      <strong style="text-align:center;color:#bf8040">What have been used</strong>
      <br/>
      <span class="glyphicon glyphicon-hand-right">&nbsp Angular.module</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp ng-app</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp ng-controller</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp ng-model</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp ng-click</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp ng-disabled</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp $scope</span></br>
      <span class="glyphicon glyphicon-hand-right">&nbsp Service</span></br>

    </div>

    <div class="step slide" data-x="0" data-y="-1500">

      <span class="glyphicon glyphicon-hand-right" style="text-align:center;color:#bf8040;"> " This is my calculator view part "</span>
      </br>
      </br>
      <div style="text-align:center;">
        <img src="logo/1.png" style="width:22em;height:18em;" />
      </div>
      </br>
    </div>

    <div class="step slide" data-x="1000" data-y="-1500">

      <span class="glyphicon glyphicon-hand-right" style="color:#bf8040">&nbsp"Backslash  Function"</span>
      </br>
      </br>
      <p style="flaot:left;width:20%;">
        $scope.clearLast = function() { $scope.equation = $scope.equation.substring(0, $scope.equation.length - 1); };
      </p>

      <div style="float:right;margin-top:-12em;">
        <img src="logo/2a.png" style="width:12em;height:9em;" />

        </br>
        </br>
        </br>

        <img src="logo/2.png" style="width:12em;height:9em;" />
      </div>

    </div>


    <div class="step slide" data-x="-1000" data-y="-750">

      <span class="glyphicon glyphicon-hand-right" style="color:#bf8040">&nbsp"Clear Function"</span>
      </br>
      </br>

      <p style="font-size:32px;width:0">
        $scope.resetClicked = function() { $scope.equation = ""; $scope.equationSubmitted = ""; };
      </p>
      <div style="float:right;margin-top:-61%;">
        <img src="logo/3a.png" style="width:12em;height:9em;" />

        </br>
        </br>
        </br>

        <img src="logo/3.png" style="width:12em;height:9em;" />
      </div>
    </div>

    <div class="step slide" data-x="0" data-y="-750">

      <span class="glyphicon glyphicon-hand-right" style="color:#bf8040">&nbsp"Total Calculation"</span>
      </br>
      </br>
      <span>Controller Part</span>
      <div style="font-size:16px;width:50%">
        <p>
          $scope.totalcalculate = function() { var calculatorService = new CalculatorService(); var response = calculatorService.calculate($scope.equation); if (response) { $scope.equationSubmitted = $scope.equation; $scope.equation = calculatorService.result;
          } else { alert(calculatorService.exception); } };

          </br>
          </br>
          <h1 style="font-size:30px;">Service Part</h1> .service('CalculatorService', [function() { var calculatorService = function() { this.result = 0; this.exception = ""; }; calculatorService.prototype.calculate = function(equation) { try { this.result = eval(equation); } catch (err) { this.exception
          = err; return false; } return true; }; return calculatorService; }]);

        </p>
      </div>

      <div style="float:right;margin-top:-79%;">
        <img src="logo/4.png" style="width:12em;height:20em;" />
      </div>
    </div>


    <div id="tiny" class="step" data-x="4825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
      <img src="logo/w.jpg" style="width: auto;height: 13em;float: left; margin-left: -233px;" />
    </div>


    <script>
      if ("ontouchstart" in document.documentElement) {
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
      }
    </script>


    <script src="js/impress.js"></script>
    <script>
      impress().init();
    </script>


</body>
</html>
