<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<style>
.btn btn-primary {
background-color:red;
}
</style>
<body>

<div ng-controller="myCtrl">

<select class="btn btn-success" >
<option class="btn btn-default" ng-repeat="x in names">{{x}}</option>
</select>

<select class="btn btn-warning" >
<option class="btn btn-default" ng-repeat="y in names1">{{y}}</option>
</select>

<select class="btn btn-danger">
<option class="btn btn-default" ng-repeat="z in names2">{{z}}</option>
</select>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = ["ADA", "BDATA", "CN"];
    $scope.names1 = ["OS", "ADBMS", "Cloud"];
    $scope.names2 = ["SMS", "JAVA", "MY-SQL"];
});
</script>

</body>
</html>
