<!--<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>

<div ng-app="myApp" ng-controller="myCtrl">

<select ng-model="Selectlist">
<option ng-repeat="x in names" value="{{x.name}}">{{x.name}}</option>
</select>
<input type="text" ng-model="Selectlist" ></input>
</div>



<script ng-model="Selectlist">
var app = ang
ular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.names = [{name:'Emil'},
{name:'Gmil'},];
});
</script>


</body>
</html>-->

<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

<p>Select a car:</p>

<select ng-model="selectedCar" ng-options="x for (x, y) in cars">
</select>

You selected: <input type="text" ng-model="selectedCar.brand">
You model: <input type="text" ng-model="selectedCar.model">
You color: <input type="text" ng-model="selectedCar.color">
<p>Note that the selected value represents an object.</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.cars = {
        car01 : {brand : "Ford", model : "Mustang", color : "red"},
        car02 : {brand : "Fiat", model : "500", color : "white"},
        car03 : {brand : "Volvo", model : "XC90", color : "black"}
    }
});
</script>

</body>
</html>
