<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
  <script data-require="angular-animate@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>
  <link rel="stylesheet" href="style.css" />
  <script>
    var app = angular.module('myApp', ['ngAnimate']);

    app.controller('MainController', function ($scope) {
        $scope.animate = false;
        $scope.play = function() {
          $scope.animate = !$scope.animate;
        };

      });
  </script>
<style>
.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}
.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
</style>
</head>

<body ng-controller="MainController">
  <button ng-click="play()">play</button>
  <div id='wrapper' ng-show="animate" class="animate-show animate-hide">TEST HERE</div>
</body>

</html>
