<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {

      $scope.finout = function() {

        $("#div1").fadeToggle();
           $("#div2").fadeToggle("slow");
           $("#div3").fadeToggle(3000);

      };

    });
  </script>
</head>

<body ng-controller="myCtrl">

  <button ng-click="finout()">Click to fade in/out boxes</button>
  <br>
  <br>

  <div id="div1" style="width:80px;height:80px;background-color:red;"></div>
  <br>
  <div id="div2" style="width:80px;height:80px;background-color:green;"></div>
  <br>
  <div id="div3" style="width:80px;height:80px;background-color:blue;"></div>

</body>

</html>

<!--<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {

      $scope.finout = function() {

        $('.color1').append('Color red :<div id="div1" style="width:80px;height:80px;background-color:red;">');
        $("#div1").fadeToggle();

        $('.color2').append('Color green :<div id="div2" style="width:80px;height:80px;background-color:green;">');
        $("#div2").fadeToggle("slow");


        $('.color3').append('Color blue :<div id="div3" style="width:80px;height:80px;background-color:blue;">');
        $("#div3").fadeToggle(3000);

      };

    });
  </script>
</head>

<body ng-controller="myCtrl">

  <button ng-click="finout()">Click to fade in/out boxes</button>
  <br>
  <br>

  <p class="color1"></p>
  <br>
  <p class="color2"></p>
  <br>
  <p class="color3"></p>

</body>

</html>-->
