<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <script data-require="angular.js@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script>
    var app = angular.module('myApp', []);
    app.controller("myCtrl", function($scope) {
      $scope.panel = false;
      $scope.flip = function() {
     $scope.panel= !$scope.panel;
    $("#panel").fadeToggle("2000");
      };
    });
  </script>

  <style>
    #panel,
    #flip {
      padding: 5px;
      text-align: center;
      background-color: #e5eecc;
      border: solid 1px #c3c3c3;

    }

    #panel {
      padding: 30px;
  background-color: lightblue;
    }
  </style>

</head>

<body ng-controller="myCtrl">

  <div id="flip" ng-click="flip()">Click to slide the panel down or up</div>
  <div id="panel" ng-show="panel">Hello world!</div>

</body>

</html>
