<!DOCTYPE html>
<html ng-app="myApp">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body ng-controller="myCtrl">

  <script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.personNames = ["Shashi", "Raju", "Ramya"];

      $scope.addClick = function() {
        $scope.errortext = "";
        if (!$scope.AddText) {
          return;
        }
        if ($scope.personNames.indexOf($scope.AddText) == -1) {
          $scope.personNames.push($scope.AddText);
        } else {
          $scope.errortext = "The item is already in your naming list.";
        }
      };

      //deleting row dynamically....
      $scope.DrowClick = function(x) {
        $scope.errortext = "";
        $scope.personNames.splice(x, 1)
      };
    });
  </script>

  <input type="text" ng-model="AddText">
  <button type="button" ng-click="addClick()"> Add </button>
  <p style="color:red;">{{errortext}}</p>

  <ul>
    <li ng-repeat="person in personNames ">{{person}} <span ng-click="DrowClick($index)" style="cursor:pointer;">x</span></li>
  </ul>

</body>

</html>
