.calculator button {
  width: 70px;
  height: 68px;
  font-size: 30px;
  margin-bottom: 6px;
  border: 1px solid rgba(238, 239, 243, 0);
  background-color: white;
}
.screen input {
  border: 1px solid rgba(238, 239, 243, 0);
  border-top: 1px solid rgba(192, 192, 192, 0);
  color: #333;
  padding: 5px 22px;
  outline: none;
  width: 100%;
  background-color: white;
}
.keys {
  margin-bottom: 7px;
}
.calculator {
  border: 1px solid white;
  //height: 38em;
  padding: 10px;
  width: 200%;
  display: inline-block;
  /*background-color: rgba(243, 243, 243, 0);*/
  float: left;

}
.demo {
  text-align: center;
  margin-top: 17px;
}
.screen span {
  color: #adad85;
  float: right;
  font-size: 24px;
  background-color: white;
  padding: 0px 22px;
  height: 30px;
}
